{{#each books as |book|}}

  <!-- {{> partial}} -->
  <!-- Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <ul id={{book.id}}>
  <div>
    <h1 data-id="{{book.id}}"> <small>Title: {{book.title}}</small></h1>
    <li>{{book.title}} by {{book.author}}</li>
    <!-- <li>{{book.author}}</li> -->
    <li>{{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}</li>
    <li><button class='remove-button'>Remove</button></li>
  </div>
  </ul>



{{/each}}
